h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("images/rpBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  border-radius: 10px;
}

.rpsImage {
  width: 100px;
  height: 200px;
  border-width: 5px;
  border-color: purple;
  align-items: center;
  justify-content: center;
  padding: 0%;
}

.rpsImage:active {
  border-color: green;
  opacity: 1;
}

.rpsImage:hover {
  opacity: 0.9;
}

#resultDisplay {
  color: rgb(199, 189, 199);

  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.namebox {
  height: 30px;
  border-width: 5px;
  border-color: purple;
}

.buttons {
  height: 50px;
  width: 100px;
  text-size-adjust: 100px;
  border-width: 5px;
  border-color: purple;
}

@keyframes glow {
  from {
    box-shadow: 0 -5px 10px rgba(170, 0, 255, 0.3);
  }
  to {
    box-shadow: 0 -5px 20px rgba(255, 0, 255, 0.8);
  }
}

.scoreboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(30, 0, 50, 0.85);
  border-top: 3px solid #aa00ff;
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: glow 3s ease-in-out infinite alternate;
  flex-wrap: wrap;
  row-gap: 5px;
  background-color: rgba(30, 0, 50, 0.95);
}

.score {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.leaderboard {
  background: rgba(40, 0, 60, 0.85);
  border: 2px solid #aa00ff;
  color: white;
  padding: 10px;
  margin: 30px auto;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 15px #ff00ff;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 120px;
}

.leaderboard h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

#leaderboardList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#leaderboardList li {
  padding: 5px 0;
  border-bottom: 1px solid #660099;
  text-shadow: 0 0 5px #fff;
}

@keyframes pulseIn {
  from {
    transform: scale(0.95);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#leaderboardList li {
  animation: pulseIn 0.4s ease-in-out;
}
